@import "libs/reset";
@import "libs/variables";
@import "libs/mixins";

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	height: 3000px;
}

// Main style
// Advice to use other smaller files and importing them here
// than writing all code below


// Responsive usage:
// use @include breakpoint(size) {}
// will be rendered as media query 
// and applies from 0px to extra small/small/medium/large size
// ex:
.container {
	width: 990px;
	margin: 0 auto;
	background-color: #f5f5f5;
	padding: 20px;
	
	// Apply styles for 0 - 992px
	@include breakpoint(medium) {
		width: 90%;
	}
	
	// Apply styles for 0 - 768px
	@include breakpoint(small) {
		width: 100%;
	}
}


