html, body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

.top-line {
	height: 30px;
	background-color: #692AB6;
}

.header {
	height: 150px;
}

.logo,
.meniu {
	height: 100%;
	float: left;
}

.logo {
	width: 175px;
	padding-left: 40px;
}

.logo h1 {
	font-size: 24px;
	line-height: 120px
}

.meniu {
	width: calc(100% - 175px);
	padding-right: 40px;
}

.meniu ul{
	list-style: none;
	padding: 66px;
	margin:0;
	text-align: right;
}

.meniu li {
	display: inline;
	margin: 0 15px;
}

.image {
	width: 100%; 
}

.image img {
	width: 100%; 
	height: auto;
}