h1
{
    font-size: 38px;

    color: yellow;
}
/* .pavadinimas {
	letter-spacing: 50px;
}
.kitas-pavadinimas {
	background-color: blue; 
}
#Tekstas {
	text-align: center;
	font-size: 32px;
} */
body
{
    height: 3000px;
    margin: auto;

    background-color: #04b404;
}
*
{
    box-sizing: border-box;
}
.page
{
    width: 100%;
    height: 100%;
}
.page > .page-container
{
    width: 1210px;
    height: 900px;
    margin: auto;

    border: 5px solid red;
    background-color: rgba(255, 255, 255, .1);
}

.header ul
{
    display: block;
    float: right;

    margin-right: 20px;
}

.burger
{
    display: none;
    float: right;

    width: 100px;
    height: 100px;
    padding: 15px;

    cursor: pointer;

    border: 1px solid black;

    transition: 0.3s 1s ;
}

.burger div
{
    width: 100%;
    height: 4px;
    margin-bottom: 10px;

    background-color: black;
    box-shadow: 0 0 0 0 black;
}



.header li
{
    display: inline;

    margin: 0 20px;
}


/* Responsive dizainas */
/* 1920px - 3960px */
@media (min-height: 1920px) and (max-width: 3960px)
{
}


@media (min-width: 1250px)
{
    .page > .page-container
    {
        width: 1200px;
    }
}

@media (max-width: 1200px)
{
    /* Bus kazkokios savyves CSS */
    .page > .page-container
    {
        width: 90%;
    }
}

@media (max-width: 990px)
{
    /* Bus kazkokios savyves CSS */
    .page > .page-container
    {
        width: 100%;
    }
}

@media (max-width: 768px)
{
    /* Bus kazkokios savyves CSS */
    h1
    {
        font-size: 16px;

        color: white;
        background-color: black;
    }

    .header ul
    {
        display: none;
    }

    .burger
    {
        display: block;
    }
}

@media (max-width: 480px)
{
    /* Bus kazkokios savyves CSS */
    .page > .page-container
    {
        width: 90%;
    }
}
