body {
	height:  3000px;
}

* {
	box-sizing: border-box;
	font-family: 'Lora', serif;
}


h1 {
	font-size: 48px;
	color: orange;
}

.pavadinimas {
	letter-spacing: 5px;
}

.kitas-pavadinimas {
	background-color: blue;
}

#tekstas {
	text-align: center;
}

span {
	font-size: 72px;
	background-color: orange;

	/* Rasymas zodziu */
	color: white;
	
	/* Rasymas HEX kodu */
	color: #ffffff;
	
	/* RGB rasymas */
	color: rgb(0, 0, 0);

	/* RGBA */
	color:  rgba(0, 0, 0, 0.5);
}



/* Konteineris */
.konteineris {
	
	width: 500px;
	height: 500px;
	border-left: 5px solid black;
	border-bottom: 10px dashed tomato;

	background-color: orange;

	margin: 100px 50px;
	
	padding-left: 50px;
	padding-top: 200px;

	box-sizing: border-box;
}

/* .konteineris */

.container {
	width: 100%;
	height: 100px;
	background-color: orange;
	position: fixed;
	left: 0;
	top: 50px;
}

.container div {
	position: relative;
}

p {
	position: absolute;
}

