body {
	height:  3000px;
	background-color: #16161E;
	margin: 0;
}

* {
	box-sizing: border-box;
	font-family: 'Lora', serif;
}

.page {
	width: 100%;
	height: 100%;
}

.page > .page-container {
	width: 1200px;
	min-height: 500px;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, .1);
}

.header {
	width: 100%;
	height: 70px;
	border-bottom: 2px solid red;
}

.header ul {
	margin: 0;
	list-style: none;
    padding: 23px;
}

.header li {
	display: inline;
	margin: 0 10px;
}

.header a {
	color: #ffffff;
	text-decoration: none;
	transition: 1s 0.5s;
	font-weight: 700;
	text-transform: uppercase;
}

.header a:hover {
	color: #ff5600;
	text-decoration: underline;
	margin: 0 10px;
	opacity: 0;
	visibility: hidden;
}

.page-news {
	width: 100%;
	min-height: 300px;
	border: 1px solid orange;

	margin-top: 50px;
}






