html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Musu stilius */

/* Pasiskaityti Box model */
* {
	box-sizing: border-box;
}

body {
	background-color: #ffffff;
}

/* Virsutinis blokas */
.header {
	width: 100%;
	height: 80px;
}

.logo, .meniu {
	height: 100%;
	float: left;
}

.logo {
	width: 200px;
	padding-left: 50px;

	font-size: 28px;
	line-height: 80px;
	font-weight: bold;
	text-transform: uppercase;
}

.meniu {
	width: calc(100% - 200px);
	padding-right: 50px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.meniu ul {
	text-align: right;
}

.meniu li {
	display: inline;
	padding: 15px;
}

.meniu li a {
	color: #000000;
	text-decoration: none;
	transition: .5s ease-in;

	font-size: 12px;
	text-transform: uppercase;

	/* Is google fonts pasiimti srifta */
	font-weight: 900;
}

.meniu li a:hover {
	color: #ff5600;
}

/* .virsutinis blokas */


/* Section blokai */

.section {
	width: 100%;
	min-height: 400px;
}

.first-sc {
	height: 400px;
	color: #000000;
}

.second-sc {
	height: 600px;
	background-color: #222222;
	color: #ffffff;
}

.section .container {
	width: 990px;
	height: 100%;
	margin: 0 auto;

	padding: 30px;

	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.container .content {
	width: 100%;
}

.container h1 {
	font-size: 72px;
}

.container h3 {
	font-size: 24px;
	color: red;
}

.images {
	height: 900px;
}

.column {
	width: 25%;
	float: left;
}

.column .item {
	height: 300px;
	width: 100%;
	overflow: hidden;
	background-color: pink;
}

.column .item-x2 {
	height: 600px;
}

.column .item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: .3s ease-in;
}

.column .item img:hover {
	opacity: 0.3;
	transform: scale(1.1);
}

/* .section blokai */




