h1{
 font-size: 38px;
 color: yellow;
}
/* .pavadinimas {
	letter-spacing: 50px;
}
.kitas-pavadinimas {
	background-color: blue; 
}
#Tekstas {
	text-align: center;
	font-size: 32px;
} */
body {
height: 3000px;
background-color: #04B404;
margin: auto;
}
* {
  box-sizing: border-box;
}
.page {
	width: 100%;
	height: 100%;
}
.page >.page-container {
	width: 1210px;
	height: 900px;
	margin:  auto;
	background-color: rgba(255, 255, 255, .1);
	border: 5px solid red;
}

.header ul {
	float: right;
	margin-right: 20px;
	display:  block;
}

.burger {
	width:  100px;
	height: 100px;
	display: none;
	border: 1px solid black;
	float: right;
	padding: 15px;
	cursor: pointer;
}

.burger div {
	width: 100%;
	height: 4px;
	background-color: black;
	margin-bottom: 10px;
}



.header li {
	display: inline;
	margin: 0 20px;
}


/* Responsive dizainas */
/* 1920px - 3960px */
@media (min-height: 1920px) and (max-width: 3960px) {
	
}


@media (min-width: 1200px) {

}

@media (max-width: 1200px) {
	/* Bus kazkokios savyves CSS */
	.page >.page-container {
		width: 90%;
	}
}

@media (max-width: 990px) {
	/* Bus kazkokios savyves CSS */
	.page >.page-container {
		width: 100%;
	}
}

@media (max-width: 768px) {
	/* Bus kazkokios savyves CSS */
	h1 {
		font-size: 16px;
		background-color: black;
		color: white;
	}
	
	.header ul {
		display: none;
	}

	.burger {
		display: block;
	}

}

@media (max-width: 480px) {
	/* Bus kazkokios savyves CSS */
	.page >.page-container {
		width: 90%;
	}
}






