body {
	background-color: #48D297;
	height: 5000px;
}

.hide-para {
	display: none;
}

.go-top {
	width: 40px;
	height: 40px;
	background-color: black;
	color: white;
	position: fixed;

	bottom: 20px;
	right: -50px;

	transition: .3s;
}

.show-btn {
	right: 20px;
}